*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: consolas, sans-serif;
}

:root{
  --bg-color:#031321;
  --primary-color:#219683;
  --secondary-color: #255784;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--bg-color);
}

.btn{
  position: relative;
  display:block;
  padding:15px 30px;
  color:var(--primary-color);
  text-transform: uppercase;
  letter-spacing:18px;
  text-decoration: none;
  font-size:36px;
  overflow: hidden;
  transition: 0.2s;
}

.btn:hover{
  color:var(--secondary-color);
  background: var(--primary-color);
  box-shadow: 
  0 0 20px var(--primary-color),
  0 0 80px var(--primary-color),
  0 0 160px var(--primary-color),
  0 0 320px var(--primary-color);
  transition-delay:1s;
}

.btn span{
  position:absolute;
  display: block;
}

.btn span:nth-child(1){
  top:0;
  transform: translateX(-115%);
  width:100%;
  height:4px;
  background: linear-gradient(90deg,transparent,var(--primary-color));
}

.btn:hover span:nth-child(1){
  transform: translateX(100%);
  transform:1s;
}
.btn span:nth-child(3){
  bottom:0;
  transform: translateX(100%);
  width:100%;
  height:4px;
  background: linear-gradient(270deg,transparent,var(--primary-color));
}

.btn:hover span:nth-child(3){
  transform: translateX(-115%);
  transform:1s 0.5s;
}
